<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Hacemos Agendas, Artículos de Oficina y Promocionales. Distribuimos a todo México. Tenemos Servicios Personalizados para eventos y papelerías.{% endblock %}">
    <meta name="keywords" content="agendas 2015, agendas papelerías, carpetas, carpetas escolares, micas de plástico" />
    <meta name="author" content="Agarti">
    <meta name="Copyright" content="Copyright (c) 2015 by Agarti" />
    <meta name="Robots" content="index,follow" />
    <link rel="shortcut icon" href="{{asset('img/favicon.ico')}}">

    {% block stylesheets %}
	    {% stylesheets
	        '@AGPrincipalBundle/Resources/public/less/styles.less'
	        filter='less,cssrewrite,?yui_css'
	        output='css/styles.css'
	    %}
	    	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	    {% endstylesheets %}
	{% endblock %}

    <title>{% block title %}Agarti - Fabricantes de Agendas, Carpetas y Artículos de Oficina{% endblock %}</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    {% block body %}
    {% endblock %}

    <div class="page-background-content">
        <div class="container page-content-bottom">
            Agarti © 2015. Todos los derechos reservados.
        </div>
    </div>
    <div class="footer">
        <div class="container">
            {% block footer %}
            <div class="row">
                <div class="col-xs-6">
                    {#
                    <div class="social">
                        <img src="{{asset('img/redes/facebook.png')}}" alt="">
                        <img src="{{asset('img/redes/pinterest.png')}}" alt="">
                        <img src="{{asset('img/redes/twitter.png')}}" alt="">
                        <img src="{{asset('img/redes/googleplus.png')}}" alt="">
                        <img src="{{asset('img/redes/youtube.png')}}" alt="">
                    </div>
                    #}
                </div>
                <div class="col-xs-6">
                    <span class="atencion-clientes-footer"> Atención a clientes: (55) 4995 0659 y 01 800 713 4657</span>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascripts %}
        {#
            {% javascripts
                'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.min.js'
                output='js/scripts.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        #}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
         <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
    {% endblock %}

</body>
</html>