<div class="container">
    <div class="top-row">
        <div class="logo-agarti">
            <a href="{{url('ag_principal_homepage')}}">
                <img src="{{asset('img/logo.jpg')}}" class="img-responsive">
            </a>
        </div>
        <div class="info-title">
            <div class="row">
                <div class="col-sm-12">
                    <span class="atencion-clientes-top">
                        Atención a clientes: (55) 4995 0659
                        <br />
                        01 800 713 4657
                    </span>
                </div>
            </div>
            <div class="sadecv">
                <div class="col-sm-12">
                    <span>Agendas y Artículos de Calidad S.A. de C.V.</span>
                </div>
            </div>
        </div>
        <div class="top-links">
            <span>
                <a href="{{url('ag_principal_homepage')}}">Inicio</a> | <a href="{{url('ag_principal_conocenos')}}">Acerca de Agarti</a> | <a href="{{url('ag_principal_panel_control')}}">Acceso interno</a> | <a href="{{url('ag_principal_contacto')}}">Contacto</a>
            </span>
        </div>
    </div>
</div>

<nav class="navegacion" role="navigation">
    <div class="navegacion-transparencia-left"></div>
    <div class="navegacion-transparencia-right"></div>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="{{url('ag_principal_homepage')}}">Agarti</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navegacion-ul">
                <li class="active"><a href="{{url('ag_principal_homepage')}}">Inicio</a></li>
                <li><a href="{{url('ag_principal_conocenos')}}">Conócenos</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url('ag_principal_categorias', {categoriaSlug:'agendas-de-bolsillo'})}}">Agendas de Bolsillo</a></li>
                        <li><a href="{{url('ag_principal_categorias', {categoriaSlug:'agendas-de-escritorio'})}}">Agendas de Escritorio</a></li>
                        <li><a href="{{url('ag_principal_categorias', {categoriaSlug:'agendas-de-diario'})}}">Agendas de Caja y Diaria</a></li>
                        <li><a href="{{url('ag_principal_categorias', {categoriaSlug:'directorios'})}}">Directorios Telefónicos</a></li>
                        <li><a href="{{url('ag_principal_categorias', {categoriaSlug:'carpetas-de-vinil'})}}">Carpetas de Vinil</a></li>
                        <li><a href="{{url('ag_principal_categorias', {categoriaSlug:'carpetas-de-curpiel'})}}">Carpetas de Curpiel</a></li>
                        <li><a href="{{url('ag_principal_categorias', {categoriaSlug:'carpetas-escolares'})}}">Carpetas Escolares</a></li>
                        <li><a href="{{url('ag_principal_categorias', {categoriaSlug:'tarjeteros'})}}">Tarjeteros</a></li>
                        <li><a href="{{url('ag_principal_categorias', {categoriaSlug:'porta-menus'})}}">Porta menús</a></li>
                        <li><a href="{{url('ag_principal_categorias', {categoriaSlug:'micas-y-porta-gafetes'})}}">Micas y Portagafetes</a></li>

                    </ul>
                </li>
                <li><a href="{{url('ag_principal_servicios')}}">Servicios</a></li>
                <li><a href="#">Catálogo</a></li>
                <li><a href="#">Lista de precios</a></li>
                <li><a href="{{url('ag_principal_contacto')}}">Contacto</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>