{% extends '::principal.html.twig' %}

{% block contenido %}

	<div class="top-row text-right ">
		<div class="col-xs-12">
			<h3>Cotiza ahora y compra online, checa nuestro nuevo catálogo</h3>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="row">
				<div class="view view-ninth">
					<a href="{{url('ag_principal_categorias', {categoriaSlug:'agendas-de-bolsillo'})}}">
					    <img src="{{asset('img/gallery/aBolsillo.jpg')}}" />
					    <div class="mask mask-1"></div>
					    <div class="mask mask-2"></div>
					    <div class="content">
					        <h2>Agendas de Bolsillo</h2>
					        <p>Son prácticas, portables y personalizables. Útiles para quienes se desplazan continuamente.</p>
					    </div>
			        </a>
			    </div>
			</div>
			<div class="row">
				<p>Agendas de Bolsillo</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="row">
				<div class="view view-ninth">
					<a href="{{url('ag_principal_categorias', {categoriaSlug:'agendas-de-escritorio'})}}">
					    <img src="{{asset('img/gallery/aEscritorio.jpg')}}" />
					    <div class="mask mask-1"></div>
					    <div class="mask mask-2"></div>
					    <div class="content">
					        <h2>Agendas de Escritorio</h2>
					        <p>Logran administrar su tiempo eficazmente, incluyen planeador mensual.</p>
					    </div>
			        </a>
			    </div>
			</div>
			<div class="row">
				<p>Agendas de Escritorio</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="row">
				<div class="view view-ninth">
					<a href="{{url('ag_principal_categorias', {categoriaSlug:'agendas-de-diario'})}}">
					    <img src="{{asset('img/gallery/aDiario.jpg')}}" />
					    <div class="mask mask-1"></div>
					    <div class="mask mask-2"></div>
					    <div class="content">
					        <h2>Agendas de Caja y Diaria</h2>
					        <p>Son ideales para organizar gran cantidad de citas, como en consultorios o empresas.</p>
					    </div>
			        </a>
			    </div>
			</div>
			<div class="row">
				<p>Agendas de Diario</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="row">
				<div class="view view-ninth">
					<a href="{{url('ag_principal_categorias', {categoriaSlug:'directorios'})}}">
					    <img src="{{asset('img/gallery/directorios.jpg')}}" />
					    <div class="mask mask-1"></div>
					    <div class="mask mask-2"></div>
					    <div class="content">
					        <h2>Directorios</h2>
					        <p>Con ellos, usted puede Administrar y Organizar Eficazmente todos sus Contactos.</p>
					    </div>
			        </a>
			    </div>
			</div>
			<div class="row">
				<p>Directorios</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="row">
				<div class="view view-ninth">
					<a href="{{url('ag_principal_categorias', {categoriaSlug:'carpetas-de-vinil'})}}">
					    <img src="{{asset('img/gallery/cVinil.jpg')}}" />
					    <div class="mask mask-1"></div>
					    <div class="mask mask-2"></div>
					    <div class="content">
					        <h2>Carpetas de Vinil</h2>
					        <p>Para archivar y organizar papeles y documentos importantes a un costo muy accesible.</p>
					    </div>
			        </a>
			    </div>
			</div>
			<div class="row">
				<p>Carpetas de Vinil</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="row">
				<div class="view view-ninth">
					<a href="{{url('ag_principal_categorias', {categoriaSlug:'carpetas-de-curpiel'})}}">
					    <img src="{{asset('img/gallery/cCurpiel.jpg')}}" />
					    <div class="mask mask-1"></div>
					    <div class="mask mask-2"></div>
					    <div class="content">
					        <h2>Carpetas de Curpiel</h2>
					        <p>Para archivar y organizar papeles y documentos importantes. Diseños variados y más finos que las versiones en vinil.</p>
					    </div>
			        </a>
			    </div>
			</div>
			<div class="row">
				<p>Carpetas de Curpiel</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="row">
				<div class="view view-ninth">
					<a href="{{url('ag_principal_categorias', {categoriaSlug:'carpetas-escolares'})}}">
					    <img src="{{asset('img/gallery/cEscolares.jpg')}}" />
					    <div class="mask mask-1"></div>
					    <div class="mask mask-2"></div>
					    <div class="content">
					        <h2>Carpetas Escolares</h2>
					        <p>Prácticas y divertidas para archivar y organizar tareas de la escuela.</p>
					    </div>
			        </a>
			    </div>
			</div>
			<div class="row">
				<p>Carpetas Escolares</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="row">
				<div class="view view-ninth">
					<a href="{{url('ag_principal_categorias', {categoriaSlug:'tarjeteros'})}}">
					    <img src="{{asset('img/gallery/tarjeteros.jpg')}}" />
					    <div class="mask mask-1"></div>
					    <div class="mask mask-2"></div>
					    <div class="content">
					        <h2>Tarjeteros</h2>
					        <p>Pueden guardar y almacenar distintas cantidades de tarjetas y credenciales según su tamaño.</p>
					    </div>
			        </a>
			    </div>
			</div>
			<div class="row">
				<p>Tarjeteros</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="row">
				<div class="view view-ninth">
					<a href="{{url('ag_principal_categorias', {categoriaSlug:'porta-menus'})}}">
					    <img src="{{asset('img/gallery/pMenus.jpg')}}" />
					    <div class="mask mask-1"></div>
					    <div class="mask mask-2"></div>
					    <div class="content">
					        <h2>Porta Menús</h2>
					        <p>Son personalizables, especialmente diseñados para restaurantes y hoteles.</p>
					    </div>
			        </a>
			    </div>
			</div>
			<div class="row">
				<p>Porta Menús</p>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="row">
				<div class="view view-ninth">
					<a href="{{url('ag_principal_categorias', {categoriaSlug:'micas-y-porta-gafetes'})}}">
					    <img src="{{asset('img/gallery/micasPortagafetes.jpg')}}" />
					    <div class="mask mask-1"></div>
					    <div class="mask mask-2"></div>
					    <div class="content">
					        <h2>Micas y Portagafetes</h2>
					        <p>Útiles para personal o asistentes de un evento.</p>
					    </div>
			        </a>
			    </div>
			</div>
			<div class="row">
				<p>Micas y Portagafetes</p>
			</div>
		</div>
	</div>

{% endblock %}