{% extends 'AGPrincipalBundle:Default:panel.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<style type="text/css">
		#nuevoproducto_Agregar{
			right: 0;
			position: absolute;
		}
	</style>
{% endblock %}

{% block contenido %}

	<div class="row">
		<h4>Agregar o editar producto</h4>
	    {{ form_start(formProducto) }}
		{{ form_end(formProducto) }}
	</div>

	{% if fotos is defined and fotos is not empty %}
		<div class="row" style="margin-top: 55px; text-align: right;">
			<span>Clic en la foto para eliminarla:</span><br />
			{% for foto in fotos %}
				<a href="{{url('ag_principal_borrar_foto', {fotoId: foto.id})}}"><img src="{{asset(foto.getWebPath)}}" style="width:100px;"></a>
			{% endfor %}
		</div>
	{% endif %}
    

{% endblock %}