{% extends '::principal.html.twig' %}

{% block contenido %}
		
	<div class="row">
		<div class="col-sm-12">
			<h1 style="color: rgb(13, 85, 107); margin-bottom: 5px; font-size: 29px;">{{producto.nombre}}</h1>
			<hr style="border-top: solid 2px rgb(226, 226, 226); margin-top: 0px; margin-bottom: 5px;" />
		</div>
		<div class="col-sm-4 text-left">
			<a href="{{url('ag_principal_categorias',{categoriaSlug: producto.getCategory.slug})}}">
				{{producto.getCategory.name}}
			</a>
		</div>
		<div class="col-sm-4 text-center">
			<a href="{{pastProductLink}}">Anterior</a> - <a href="{{nextProductLink}}">Siguiente</a>
		</div>
		<div class="col-sm-4 text-right">
			Clave: {{producto.clave}}
		</div>
	</div>
	<div class="row">
		<p>{{producto.Descripcion}}</p>
	</div>


{% endblock %}