{% extends '::principal.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{asset('css/cloudzoom.css')}}" />
{% endblock %}

{% block contenido %}
		
	<div class="row">
		<div class="col-sm-12">
			<h1 style="color: rgb(13, 85, 107); margin-bottom: 5px; font-size: 29px;">{{producto.nombre}}</h1>
			<hr style="border-top: solid 2px rgb(226, 226, 226); margin-top: 0px; margin-bottom: 5px;" />
		</div>
		<div class="col-sm-4 text-left">
			<a href="{{url('ag_principal_categorias',{categoriaSlug: producto.getCategory.slug})}}">
				{{producto.getCategory.name}}
			</a>
		</div>
		<div class="col-sm-4 text-center">
			<a href="{{pastProductLink}}">Anterior</a> - <a href="{{nextProductLink}}">Siguiente</a>
		</div>
		<div class="col-sm-4 text-right">
			Clave: {{producto.clave}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p style="margin-top: 13px;">{{producto.Caracteristicas}}</p>
		</div>
	</div>
	<div class="row" style="padding-top: 30px;">
		<div class="col-sm-5">
			<img class="cloudzoom" id="zoom1" src="{{asset(producto.fotos.0.getWebPath)}}" style="max-width:100%;" 
				data-cloudzoom="zoomSizeMode:'image', autoInside: 550" />

			<br/>
			<img class='cloudzoom-gallery' src="images/thumbs/image1.jpg"
				data-cloudzoom="useZoom: '.cloudzoom', image: 'images/small/image1.jpg', zoomImage: 'images/large/image1.jpg' " >
			<img class='cloudzoom-gallery' src="images/thumbs/image2.jpg"
				data-cloudzoom="useZoom: '.cloudzoom', image: 'images/small/image2.jpg', zoomImage: 'images/large/image2.jpg' " >
			<img class='cloudzoom-gallery' src="images/thumbs/image3.jpg"
				data-cloudzoom="useZoom: '.cloudzoom', image: 'images/small/image3.jpg', zoomImage: 'images/large/image3.jpg' " >


		</div>
		<div class="col-sm-7 text-right">
			<span>Clave:</span>
Medidas: 6.8x13.5 cm

Interior:Papel bond blanco de 75 grs. Impresa a una tinta 
Funda: Curpiel cosida
Colores:	Negro, azul marino, vino y miel
Páginas:	128 páginas. 
Encuadernación:	Arillo metálico (Wire-o)

Contenido:
Dos idiomas: español e inglés
Protector de PVC transparente
Datos personales
Directorio telefónico
Días festivos
Calendario anual 2013, 2014
Teléfonos de emergencia
Claves de larga distancia nacional, EEUU y Canadá
Horario Mundial
Tabla de Equivalencias
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{asset('js/cloudzoom.js')}}"></script>
    <script type="text/javascript">
        CloudZoom.quickStart();
    </script>
{% endblock %}