{% extends '::principal.html.twig' %}

{% block contenido %}
	
	<div class="row" style="margin-top:30px;">
		<h2>Servicios de grabado, impresión y publicidad</h2>
	</div>
	<div class="row" style="margin-top:30px;">
		<p style="text-align: justify;"><img style="float: left; margin-right: 10px;" src="{{asset('img/servicios/grabado.jpg')}}" alt="Agenda con grabado en bajo relieve" width="204" height="219"></p>
		<h3>Funda con impresión en grabado o serigrafía:<img style="float: right;" src="{{asset('img/servicios/serigrafia.jpg')}}" alt="Impresión con serigrafía en agenda" width="164" height="170"></h3>
		<p style="text-align: justify;"><span style="font-size: 12pt;">Esta es una excelente oportunidad para mostrar el logotipo de su empresa o cualquier otro distintivo, y lo puede hacer imprimiendo su marca en cada una de sus agendas o de sus artículos.</span></p>
		<p style="text-align: justify;"><span style="font-size: 12pt;">La impresión puede ser con la técnica de <strong>grabado en bajo relieve</strong> en alta frecuencia, en <strong>Hot Stamping</strong> ó en <strong>serigrafía</strong>. Cualquiera de ellas se verá excelente en sus artículos.</span></p>
		<p style="text-align: justify;"><span style="font-size: 12pt;"><br></span></p>
		<h3 style="text-align: left;">Hoja Publicitaria:<img style="float: right; margin-left: 10px;" src="{{asset('img/servicios/hojapublicitaria.jpg')}}" alt="Hoja Publicitaria dentro de la agenda" width="290" height="209"></h3>
		<p style="text-align: justify;"><span style="font-size: 12pt;">La hoja de publicidad es impresa a una tinta o en selección de color, en calidad <strong>Offset o Digital</strong>, ésta&nbsp; puede ir en la portada o en hojas intermedias.</span></p>
		<p style="text-align: justify;"><span style="font-size: medium;"><br></span></p>
		<h3 style="text-align: justify;"><img style="margin-right: 10px; float: left;" src="{{asset('img/servicios/hojaintermedia.jpg')}}" alt="Publicidad dentro de la agenda" width="256" height="200">Publicidad en hojas internas</h3>
		<p style="text-align: justify;"><span style="font-size: 12pt;">Podemos incluir el <strong>logotipo de su empresa</strong> u otro gráfico, en un espacio dentro de las hojas de la agenda,&nbsp; usualmente colocados en fechas de domingos.</span></p><br /><br />
		<h3 style="text-align: left;">Fundas individuales personalizadas:<img style="float: right; margin-left: 10px;" src="{{asset('img/servicios/personalizado.jpg')}}" alt="Impresión Personalizada" width="193" height="200"></h3>
		<p style="text-align: justify;"><span style="font-size: 12pt;">Si desea que cada una de sus agendas o artículos sean personalizados e identificados como <strong>“únicos”</strong>, puede recurrir a este servicio:</span></p>
		<p style="text-align: justify;"><span style="font-size: 12pt;">Nombre o <strong>texto personalizado</strong>, diferente para cada una de las fundas, éste puede ser en <strong>bajo relieve o en serigrafía.</strong></span></p>
	</div>

{% endblock %}